<ui-view>
<div class="container">

  <h2>Your Account</h2>
  <ul>
  	<li>Email: {{ user.email }}</li>
  	<li>Name: {{ user.fullName }}</li>
  	<li>Contact info: <span>{{ user.contactInfo }}</span></li>
  </ul>
  <h4>View order history</h4>
  <div ng-show="orders.length < 1"><i>You have no past orders</i></div>
  <div ng-repeat="order in orders">{{ order }} showing</div>
  <h4>View my reviews</h4>
  <div ng-repeat="review in reviews">{{ review }}</div>
  <button ui-sref="user.edit" class="btn btn-default">Edit Account Info</button>

</div>
</ui-view>