<ui-view>
<div class="container">

  <h2>Your Account</h2>

  <p><button ui-sref="user.edit" class="btn btn-default">Edit Account Info</button></p>

  <p>Email: {{ user.email }}</p>
  <p>Name: {{ user.fullName }}</p>
  <p>Contact info:
  <span ng-show="user.contactInfo.length < 1"><i>You have no contact info</i></span>
    <ul ng-show="!user.contactInfo.length < 1">
      <li ng-repeat="address in user.contactInfo">
        {{ address }}
      </li>
  </ul>
  <br>
  
  <h4>Your Past Orders</h4>
  <div ng-show="orders.length < 1"><i>You have no past orders</i></div>
  <div ng-repeat="order in orders">{{ order }} showing</div>
  <br>
  
  <h4>Your Reviews</h4>
  <div ng-show="reviews.length < 1"><i>You have no reviews</i></div>
  <div ng-repeat="review in reviews" class="panel panel-default">
      <div class="panel heading">
        {{ review.product.name }} on {{ review.date | date : 'mediumDate' }} | <span class="glyphicon glyphicon-heart" ng-repeat="num in getRating(review.rating)"></span><!-- 
               --><span class="glyphicon glyphicon-heart-empty" ng-repeat="num in getRating(5-review.rating)"></span>
      </div>
      <div class="panel body">
        <b>{{ review.title }}</b><br>
        <i>"{{ review.comments }}"</i>
      </div>
  </div>
  
</div>
</ui-view>