<div class="container">

<h1>Edit Page</h1>

  <label for="first-name">First Name: </label>
  <input name="firstName" class="inline-form" type='text' ng-model="user.firstName" value="{{ user.firstName }}"><br>

  <label for="last-name">Last Name: </label>
  <input name="lastName" class="inline-form" type='text' ng-model="user.lastName" value="{{ user.lastName }}"><br>

  <label for="author-name">Email: </label>
  <input name="email" ng-model="user.email" class="inline-form" type='text' value="{{ user.email }}"><br>

  <h3>Shipping Address: </h3>
  <label for="address1">Street 1: </label>
  <input name="address1" class="form-inline" type='text' ng-model="user.contactInfo.address1" value="{{ user.contactInfo.address1 }}"><br>
  
  <label for="address2">Street 2: </label>
  <input name="address2" class="form-inline" type='text' ng-model="user.contactInfo.address2" value="{{ user.contactInfo.address2 }}"><br>
  
  <label for="City">City: </label>
  <input name="city" class="form-inline" type='text' ng-model="user.contactInfo.city" value="{{ user.contactInfo.city }}"><br>

  <label for="State">State: </label>
  <input name="state" class="form-inline" type='text' ng-model="user.contactInfo.state" value="{{ user.contactInfo.state }}"><br>
  
  <label for="Zipcode">Zipcode: </label>
  <input name="zip" class="form-inline" type='text' ng-model="user.contactInfo.zip" value="{{ user.contactInfo.zip }}"><br> 
  
  <label for="Country">Country: </label>
  <input name="country" class="form-inline" type='text' ng-model="user.contactInfo.country" value="{{ user.contactInfo.country }}"><br> 

    
    <button type="submit" class="btn btn-default" ng-click="updateUserInfo()">Submit</button>

</div>