<div class="container">

  <form id="edit-product" name="editProduct" ng-submit="editProduct.$valid && editSingleProduct(editproduct)">
  	<h2>Edit Product Details</h2>
  	<div class="form-group">
  	</div>
  	<fieldset class="form-group">
  		<label for="name">Product Name</label>
  		<input type="text" ng-model="editproduct.name" ng-required="true" class="form-control" id="name">
  	</fieldset>
  	<fieldset class="form-group">
  		<label for="type">Product Type</label>
  		<select id="type" ng-model="editproduct.type">
  			<option ng-repeat="type in types">{{ type }}</option>
  		</select>
  	</fieldset>
  	<fieldset class="form-group">
  		<label for="size">Size</label>
  		<input type="number" ng-model="editproduct.size" ng-required="true" class="form-control" id="size">
  	</fieldset>
  	<fieldset class="form-group">
	  	<label for="description">Description of Product</label>
	  	<textarea class="form-control" id="description" ng-model="editproduct.description" ng-required="true"  rows="4" placeholder="Describe the product here"></textarea>
  	</fieldset>
  	<fieldset class="form-group">
	  	<label for="ingredients">Product Ingredients</label>
	  	<textarea class="form-control" id="ingredients" ng-model="editproduct.ingredients"  ng-required="true" rows="4" placeholder="Enter product ingredients here"></textarea>
  	</fieldset>
  	<fieldset class="form-group">
  		<label for ="picture">File Name of Product Picture</label>
  		<input type="text" ng-model="editproduct.picture" class="form-control" id="picture" placeholder="please enter a file name, for example &quot;chocolate.jpg&quot;">
  	</fieldset>
  	<fieldset class="form-group">
  		<label for ="flavor">Product Flavor</label>
  		<input type="text" ng-model="editproduct.flavor" class="form-control" id="flavor" placeholder="please enter a flavor, for example &quot;dark&quot;">
  	</fieldset>
  	<fieldset>
  		<label for="price">Price</label>
  		<input type="number" ng-model="editproduct.price" ng-required="true"  id="price" class="form-control">
  	</fieldset>
  	<fieldset>
  		<label for="stock-amount">Stock Amount</label>
  		<input type="number" ng-model="editproduct.stockAmount" ng-required="true" id="stock-amount" class="form-control">
  	</fieldset>
  	<button type="submit" class="btn btn-default">Edit Product</button>
    
  </form>

</div>