<!-- template from Start Bootstrap -->
<ui-view>
<div class="container">
        <img class="img-responsive" src="{{ product.picture }}" alt="{{ product.name }}">
        <div class="caption-full">
            <h4 class="pull-right">{{ product.price | currency:"$":2 }}</h4>
            <h4><a href="#">{{product.name}}</a>
            </h4>
            <p>{{ product.description }}</p>
            <p>Size: {{ product.size }} ounces</p>
            <p class="ingredients">Ingredients: {{ product.ingredients }}</p>
            
            <!-- add to cart form -->
            <form ng-submit="addToCart(user._id)" >
                <div id="add-to-cart" class="product qty-wrapper">
                    <div class="input-item">
                        <label for="qty">Qty:</label>
                        <input  ng-model="newCartItem" type="text" value='1' name="qty" id="qty" title="Qty" class="product input-text qty" />
                    </div>
                </div>
                <div class="product add-to-cart">

                <input type="submit" name="Add to Cart" value="Add to Cart" form="add-to-cart" ng-click='addToCart(user._id, newCartItem)' title="Add to Cart" class="product btn btn-primary">
                <div class="alert alert-success" ng-show="added">
                    <a href="#" class="close" ng-click="removeAdded()"><i class="fa fa-times"></i> </a>
                        {{ added }}
                </div>
                </div>
            </form>
        </div>   
    </div>

    <div id="reviews-container" class="container">
        <div class="ratings">
                <p class="pull-right">[ # of reviews here ]</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Avg. review: 4.0 stars
                </p>
            </div>
    <div class="well">

        <div class="text-right">
            <div class="alert alert-danger" ng-show="error">
                <a href="#" class="close" ng-click="removeError()"><i class="fa fa-times"></i></a>
                    {{ error }}
            </div>
            
            <button ng-click="addReview(product._id, user._id)" class="btn btn-success">Leave a Review</button>
        </div>

        <hr>
        
        <!-- once working directive will go here -->
        <reviews-per-product product="product"></reviews-per-product>

    </div>
</div>
</ui-view>