navbar {

  display: block;
  background: white;
  border-bottom: 1px solid grey;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  ydkc-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 80px;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#49AB8E, 10%);
    }
    &:hover {
      background: none;
      color: #49AB8E;
    }
    &:focus {
      background: none;
    }
  }

    #cartIcon {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#49AB8E, 10%);
    }
    &:hover {
      background: none;
      color: #49AB8E;
    }
    &:focus {
      background: none;
    }
  }

  #cartIcon {
    height: 20px;
    padding: 15px;
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }

  .signup-button {
    @extend .login-button;
    margin-left: 10px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
