#products {
  margin: 0 auto;
  width: 90%;
  @include clearfix;

  h3 a {
  	color: brown;  
  }

  h3 a:hover {
  	color: orange;
  }
}

.caption {
    height: 130px;
    overflow: auto;
    h4 {
    white-space: nowrap;
  }
}

.view-item {
    padding: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
    width: 300px;
    img {
      width: 100%;
  }
    .caption-full {
    padding: 9px;
    color: #333;
    }
}

.center {
  text-align: center;
}

#reviews-container {
  margin-top: 30px;
}

footer {
    margin: 50px 0;
}

.alert {
  display: inline-block;
  
}

.alert-success {
  padding-top: 6px;
  padding-bottom: 6px;
}