#products {
  margin: 0 auto;
  width: 90%;
  @include clearfix;

  h3 a {
  	color: brown;  
  }

  h3 a:hover {
  	color: orange;
  }
}

.caption {
    height: 9.4em;
    overflow: auto;
    h4 {
    white-space: nowrap;
  }
}

.view-item {
    padding: 10px;
    color: #d17581;
}

.productname {
  font-size: 30px;
}

.thumbnail {
    padding: 0;
    width: 300px;
    img {
      width: 100%;
  }
    .caption-full {
    padding: 9px;
    color: #333;
    }
}

.btn-review {
  background-color: white;
  color: #1C5749;
  border-color: #1C5749;
}

.center {
  text-align: center;
}

#reviews-container {
  margin-top: 30px;
}

footer {
    margin: 50px 0;
}

.alert {
  display: inline-block;
  
}

.alert-success {
  padding-top: 6px;
  padding-bottom: 6px;
}

.img-responsive {
  width: 450px;
  padding-top: 40px;
}

#title {
  font-family: 'Fredericka the Great', cursive;
  font-size: 50px;
}

#subtitle {
  font-size: 20px;
  padding-bottom: 10px;
}

#description {
  font-size: 13px;
}

#menu {
  float: right;
  padding-left: 10px;
  padding-top: 20px;
}

#price {
  font-size: 16px;
}