<div class = "container">
    <form name='newreview '>
    <label for="rating">Rating</label>
    <input name="rating" id="input-id" ng-model="rating" type="text" class="rating" data-size="lg" > 

    <fieldset class='form-group'>
        <label for="author-name">author</label>
        <br>
    	<input name="author" ng-model="author"class="form-control" type='text'>
    </fieldset>
     <fieldset class='form-group'>
        <label for="review-title">Title</label>
        <input name="title" class="form-control" type='text' ng-model="title" placeholder="title"> 
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleTextarea">Comment</label>
        <textarea class="form-control" id="exampleTextarea" ng-model="comments" rows="4"></textarea>
    </fieldset>
    
    <button type="submit" class="btn btn-primary" ng-click="addreview()">Submit</button>
    </form>
</div>