<div class = "container">
    <h2>You are reviewing: {{ product.name }}</h2>
    <form name='newreview '>

    <fieldset class='form-group'>
    <label for="rating">Rating</label>
    <br>
    <!-- <div ng-controller="RatingDemoCtrl"> -->
        <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" state-on="'glyphicon-heart'" state-off="'glyphicon-heart-empty'" aria-labelledby="default-rating" no-click="getrate()"></uib-rating>
        
        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{overStar}}</span>


    <!-- </div> -->
    </fieldset>

    <fieldset class='form-group'>
        <label for="author-name">Author</label>
        <br>
    	<input name="author" ng-model="author"class="form-control" type='text' placeholder="{{ user.email }}">
    </fieldset>
     <fieldset class='form-group'>
        <label for="review-title">Title</label>
        <input name="title" class="form-control" type='text' ng-model="title" placeholder="Your title here!"> 
    </fieldset>
    <fieldset class="form-group">
        <label for="exampleTextarea">Comments</label>
        <textarea class="form-control" id="exampleTextarea" ng-model="comments" rows="4" placeholder="Your comments here!"></textarea>
    </fieldset>
    
    <button type="submit" class="btn btn-primary" ng-click="addreview()">Submit</button>
    </form>
</div>